.card {
  border-radius: 32px;
  border: 2px solid transparent;
  grid-column: auto;
  min-width: 100%;
  transition: transform 1s, box-shadow.5s;
  padding: 40px 32px 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.card:hover,
.card:focus-within {
  transform: translatey(-4px);
}

.card:hover .productDetailsWrapper .innerBlur,
.card:focus-within .productDetailsWrapper .innerBlur {
  opacity: 0;
}

.card:hover .productDetailsWrapper .innerHover,
.card:focus-within .productDetailsWrapper .innerHover {
  opacity: 1;
  transform: translatey(0%);
}

.card .iconWrapper {
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
}

.card .iconWrapper .iconStack {
  display: grid;
  width: 100%;
  height: 100%;
}

.card .iconWrapper .iconStack .icon {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.card .iconWrapper .iconStack .icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.card .iconWrapper .iconAnimated {
  position: absolute;
  top: calc((1 - 1.2) / 2 * 100%);
  left: calc((1 - 1.2) / 2 * 100%);
  pointer-events: none;
  contain: paint;
}

.card .cardContent {
  margin-top: 32px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card .cardContent .productName {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.card .productDetailsWrapper {
  display: flex;
  position: relative;
  flex: 1;
}

.card .productDetailsWrapper .innerBlur {
  opacity: 1;
  transition: opacity.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.card .productDetailsWrapper .innerBlur .description {
  margin-top: 4px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.card .productDetailsWrapper .innerBlur .priceTagsContainer {
  margin-top: 16px;
  display: inline-flex;
  align-items: flex-end;
}

.card .productDetailsWrapper .innerBlur .priceTagsContainer .price {
  display: inline-flex;
  align-items: center;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.card .productDetailsWrapper .innerHover {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: all.5s;
  transform: translatey(20%);
}

.card .productDetailsWrapper .innerHover .buttonsContainer {
  width: 100%;
  display: flex;
  gap: 8px;
}
